<!-- .menu vertical  -->
<div class="navbar-default sidebar" role="navigation" ng-controller="RowlotController">
    <img src="views/common/menu.png"
     style="
    width: 280px;
    height: 100%;
    position: absolute;
">
    <div class="sidebar-nav slimscrollsidebar">
  
        <div class="sidebar-head">
            <a href="index5.html"><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> </a> </div>
        
        <ul class="nav" id="side-menu" style="color:#fff">
            <li> <a ui-sref="auth.rowlot-profile" class="waves-effect">
                 <div class="overlay-box">
                     <div class="user-bg">
                         <div class="overlay-box"><div class="user-content">
                             <img src="../plugins/images/users/genu.jpg" class="thumb-lg img-circle" alt="img"> <br>
 
                             <h4 style="color:#fff"> {{profile.Nombre}} {{profile.Apellido}}</h4>
 
 
 
                             </div>
                         </div>  </div></div>
                 </a>
             </li>
             <!--   <li class="devider" style="
 +background: #edf1f5;"></li>-->
            <li> <a ui-sref="auth.rowlot" class="waves-effect"><i class="mdi mdi-table fa-fw"></i> <span class="hide-menu">Ranking</span></a>
              </li>
      
      
      
     <!--   <li class="devider" style="
    background: #edf1f5;"></li>-->

      
    
            <!--  <li class="devider"></li>-->
                
                     <!-- <li> <a href="tables.html" class="waves-effect"><i class="mdi mdi-table fa-fw"></i> <span class="hide-menu">Tareas<span class="fa arrow"></span><span class="label label-rouded label-danger pull-right">9</span></span></a>
                    <ul class="nav nav-second-level">

                        <li><a href="tareasListaProfesor.html"><i class="fa-fw">L</i><span class="hide-menu">Lista</span></a></li>
                        <li><a href="tareasCalendarioProfesor.html"><i class="fa-fw">C</i><span class="hide-menu">Calendario</span></a></li>
                    </ul>
                </li>-->
 
      
    <li> <a ui-sref="auth.rowlot-listtask" class="waves-effect"><i class="mdi mdi-table fa-fw"></i> <span class="hide-menu">Lista</span></a>

            </li>
      
       <li> <a ui-sref="auth.calendar" class="waves-effect"><i class="fa fa-bandcamp" aria-hidden="true"></i><span class="hide-menu">canlendario</span></a>

            </li>
                        <li> <a ui-sref="auth.rowlot-biblioteca" class="waves-effect"><i class="fa fa-bandcamp" aria-hidden="true"></i> <span class="hide-menu">Biblioteca</span></a>
           </li>
           
            <!--    <li class="devider"></li>-->
              <li> <a ui-sref="auth.documentation" class="waves-effect"><i class="fa fa-bandcamp" aria-hidden="true"></i><span class="hide-menu">Documentacion</span></a>

            </li>

        </ul>

    </div>
</div>

    <script src="vendor/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="vendor/bootstrap.min.js"></script>
<!-- Menu Plugin JavaScript -->
<script src="vendor/sidebar-nav.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="vendor/custom.min.js"></script>




