
 <div ng-show="showStudent">

  <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-12">
                    <h4 class="page-title"> UNIDAD 1</h4> </div>
                
                 
            </div>
            
            
            
            <div class="white-box">
               <div class="col-12">
                  
                         <div class="panel">
                             
                             <div class="p-20">
                                <div class="row">
                                    <div class="col-xs-6">
                                       
                                         <h3 class="m-t-0 font-medium">RESUMEN HCI</h3>
                                         <span class="text-muted">Entrega: 30 enero 2017</span>
                                    </div>
                              
                                </div>
                            </div>
                            
                
                        <div class="table-responsive">
                         
                                    <ul>
                      
                                
                                        <li>PORCENTAJE: <span class="text-muted"> 20% </span></li><br>
                                         <li>CALIFICACIÓN: <span class="text-muted"> 5 </span></li><br>
                                         <li>ENTREGADO: <span class="text-muted"> SI </span></li><br>
                                      <li>DESCRIPCION: <br><span class="text-muted"> 
                                          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                                          
                                          
                                          
                                          </span></li>
                                    </ul>
                           
                        </div>
             
            
            
                            <h3 class="box-title m-b-0">Entregar Tarea </h3>

                            <form action="#" class="dropzone">
                                <div class="fallback">
                                    <input name="file" type="file" multiple /> </div>
                            </form>
                            
                                      <a href="#" target="_blank" class="btn btn-danger pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">Enviar</a>
                        </div>
                    </div>
                </div>
               </div>
      </div>



</div>





 <div ng-show="showTeacher">

  <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-12">
                    <h4 class="page-title"> UNIDAD 1</h4> </div>
                
                 
            </div>
            
            
            
            <div class="white-box">
               <div class="col-12">
                  
                         <div class="panel">
                             
                             <div class="p-20">
                                <div class="row">
                                    <div class="col-xs-6">
                                       
                                         <h3 class="m-t-0 font-medium">RESUMEN HCI</h3>
                                         <span class="text-muted">Entrega: 30 enero 2017</span>
                                    </div>
                              
                                </div>
                            </div>
                            
                
                        <div class="table-responsive">
                         
                                    <ul>
                      
                                
                                        <li>PORCENTAJE: <span class="text-muted"> 20% </span></li><br>
                                         <li>CALIFICACIÓN: <span class="text-muted"> 5 </span></li><br>
                                         <li>ENTREGADO: <span class="text-muted"> SI </span></li><br>
                                      <li>DESCRIPCION: <br><span class="text-muted"> 
                                          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                                          
                                          
                                          
                                          </span></li>
                                    </ul>
                           
                        </div>
             
            
            
                            <h3 class="box-title m-b-0">Entrega de la Tarea </h3>
         

                                    <div class="table-responsive">
                                        <table class="table  primary-table">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Estudiante</th>
                                                <th>Entrega<br>  <span class="text-muted">20%</span></th>
                                                <th>Calificación<br><span class="text-muted">30%</span></th>
                                                  <th>Calificar<br><span class="text-muted">25%</span></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Daniela Medina</td>
                                                <td>(archivo pdf)</td>
                                                <td>3.5</td>
                                                <td>
                                                  <input id="{{user.uid}}" min="0" type="number" ng-model='coins' style="width: 50px;" />
                                                
                                                <button type= "button" class="btn btn-info btn-outline btn-circle btn-sm m-r-5" ng-click="">+</button>
                                               
                                                
                                                </td>
                                            </tr>
                                          <tr>
                                                <td>1</td>
                                                <td>Daniela Medina</td>
                                                <td>(archivo pdf)</td>
                                                <td>3.5</td>
                                                <td> <input id="{{user.uid}}" min="0" type="number" ng-model='coins' style="width: 50px;" />
                                                
                                                <button type= "button" class="btn btn-info btn-outline btn-circle btn-sm m-r-5" ng-click="">+</button>
                                               </td>
                                            </tr>
                                <tr>
                                                <td>1</td>
                                                <td>Daniela Medina</td>
                                                <td>(archivo pdf)</td>
                                                <td>3.5</td>
                                                <td> <input id="{{user.uid}}" min="0" type="number" ng-model='coins' style="width: 50px;" />
                                                
                                                <button type= "button" class="btn btn-info btn-outline btn-circle btn-sm m-r-5" ng-click="">+</button>
                                               </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
              
     
                             
                             
                             
                        </div>
                    </div>
                </div>
               </div>
      </div>



</div>




 













                   
                       
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
<!-- acordeon -->
	








