body {
    background: #edf1f5;
}

.user-bg.overlay-box{
    background: #fff;
}
/* fondo del perfil y lo del menu del perfil*/
.user-bg .overlay-box {
background-blend-mode: soft-light;
}

.sidebar {
  overflow-y: auto;
background: #edf1f5;
}



.navbar-header {
  width: 100%;
    height:70px;
  background: #e89c38;
  border: 0px;
}

.navbar-header li {
color:#000;
}

#side-menu li a{
    color:#fff;
}
#side-menu > li > a:hover,
#side-menu > li > a:focus {
background: rgba(10,10,9,0.25);
background: -moz-linear-gradient(left, rgba(10,10,9,0.25) 0%, rgba(15,15,15,0) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(10,10,9,0.25)), color-stop(100%, rgba(15,15,15,0)));
background: -webkit-linear-gradient(left, rgba(10,10,9,0.25) 0%, rgba(15,15,15,0) 100%);
background: -o-linear-gradient(left, rgba(10,10,9,0.25) 0%, rgba(15,15,15,0) 100%);
background: -ms-linear-gradient(left, rgba(10,10,9,0.25) 0%, rgba(15,15,15,0) 100%);
background: linear-gradient(to right, rgba(10,10,9,0.25) 0%, rgba(15,15,15,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a0a09', endColorstr='#0f0f0f', GradientType=1 );
}

   .white-box{
        border-radius: 25px;
    }
    
    
    thead{
        
      background:   #ffc36d;
    }
    a{
        color:#313131;
        text-decoration-color: none;
        text-decoration: none;
    }